
  <!-- A changer en requete ajax -->
  <div class="card-grey-dashboard">
    <div class="order-bookmate text-center">
      <%= cl_image_tag order.bookmate.user.photo.path, :width=>80, :height=>80, :gravity=>"auto", :crop=>"fill", class:"bookmate-avatar"  %>

      <h2><%= order.bookmate.user.first_name  %></h2>
    </div>

    <div class="order-description">

      <h2>Détail de la commande </h2>
      <% counter= 0 %>
      <% order.selling_books.each do |selling_book| %>
        <% counter += 1 %>
        <div class="order-book-list">
          <p><%= selling_book.book.title %> - <%= selling_book.book.author %></p>

          <% if current_user.loved_books.where(book: selling_book.book).exists? %>
            <%= link_to book_loved_book_path(selling_book.book), method: :delete, class: "blue", id: "like#{counter}" do %>
              <i class="fa fa-heart" aria-hidden="true"></i>
            <% end %>
          <% else %>
            <%= link_to book_loved_book_path(selling_book.book), method: :post, class: "blue", id: "like#{counter}" do %>
              <i class="fa fa-heart-o" ></i>
            <% end %>
          <% end %>
        </div>

      <% end %>
      <h2 class="order-delivery"><span class="text-bold">Mode de livraison :</span>  <%= order.delivery_type %></h2>
    </div>

    <div class="order-details">
        <h2 class="order-date"><%= order.created_at.strftime('%d.%m.%y') %></h2>

        <% if order.review.present? %>
          <!-- Comment done -->
          <div class="review-right" id="thank-review#{order.id}">
            <p>Votre commentaire a bien été pris en compte</p>
          </div>
        <% else %>
          <!-- Button trigger modal -->
          <button type="button" id="btn-comment<%= order.id %>" class="btn btn-primary review-right" data-toggle="modal" data-target="#myModal<%= order.id %>">
            Faire un commentaire
          </button>
        <% end %>
        <!-- Modal -->
        <div class="modal fade" id="myModal<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">


                <div id= "form-review#{order.id}" >
                  <%= simple_form_for @order, :url => url_for(:action => 'reviewed', :controller => 'orders', :id => order.id), :method => 'post' do |f| %>
                    <%= hidden_field_tag :order_id, order.id %>
                    <%= f.input :review %>
                    <div class="rating">

                      <input type="radio" value="5" name="order[rating]" id="order_rating_5">
                      <label class="collection_radio_buttons" for="order_rating_5">5</label>

                      <input type="radio" value="4" name="order[rating]" id="order_rating_4">
                      <label class="collection_radio_buttons" for="order_rating_4">4</label>

                      <input type="radio" value="3" name="order[rating]" id="order_rating_3">
                      <label class="collection_radio_buttons" for="order_rating_3">3</label>

                      <input type="radio" value="2" name="order[rating]" id="order_rating_2">
                      <label class="collection_radio_buttons" for="order_rating_2">2</label>
                      <input type="radio" value="1" name="order[rating]" id="order_rating_1">
                      <label class="collection_radio_buttons" for="order_rating_1">1</label>

                    </div>

                    <div class="modal-footer">
                    <%= f.button :submit, "Envoyer le commentaire",class: "btn btn-primary",id: "save-review#{order.id}"%>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>



<% content_for :after_js do %>
  <%= javascript_tag do %>
    $(document).ready(function() {

      $('#myModal<%= order.id %>').on('shown.bs.modal', function () {
        $('#thank-review<%= order.id %>').hide();
        $('#myInput').focus();

      })

    });
  <% end %>
<% end %>


