
  <!-- Cette row contient le Dashboard -->
    <!-- Cette colonne contient la barre latérale -->
  <div class = "col-xs-3" style = "background-color: #F3F3F3">
    <div class="side-bar-padding-left">
      <h3>MON COMPTE</h3>
      <div class="tabs">
        <a class="tab active" data-target="#profile">
          <h2>Mon profil</h2>
        </a>
        <a class="tab" data-target="#messages">
          <h2>Mes messages</h2>
          <%= render "message"%>
        </a>
        <a class="tab" data-target="#comments">
          <h2>Mes commentaires</h2>
          <%= render "comment"%>
        </a>
        <a class="tab" data-target="#favorite_books">
          <h2>Mes livres préférés</h2>
          <%= render "favorite-book"%>
        </a>
        <a class="tab" data-target="#bookmates">
          <h2>Mes bookmates</h2>
          <%= render "bookmate"%>
        </a>
        <a class="tab" data-target="#orders">
          <h2>Mes commandes</h2>
        </a>
      </div>
    </div>
  </div>
    <!-- Cette colonne contient le contenu des tabs -->
    <div class = "col-xs-9">
<!--       Contenu du profil -->
      <div class="tab-content" id="profile">
        <%= render "profile"%>

      </div>
<!--       Contenu des messages -->
      <div class="tab-content hidden" id="messages">
        <h2>Mes messages</h2>
      </div>
<!--       Contenu des commentaires -->
      <div class="tab-content hidden" id="comments">
        <h1>Les commentaires à laisser</h1>
        <% @uncommented_orders.each do |uncommented_order| %>
          <div>
            <%= render "comment", order: uncommented_order %>
          </div>
          <h2><%= uncommented_order.bookmate.user.first_name  %></h2>

          <button type="button" id="btn-comment<%= uncommented_order.id %>" class="btn btn-primary" data-toggle="modal" data-target="#myModal<%= uncommented_order.id %>">
            Faire un commentaire
          </button>

          <!-- Modal -->
          <div class="modal fade" id="myModal<%= uncommented_order.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">

                  <div id="thank-review#{uncommented_order.id}">
                    <p>Vos commentaires ont bien été pris en compte</p>
                  </div>

                  <div id= "form-review#{uncommented_order.id}" >
                    <%= simple_form_for @order, remote: true, :url => url_for(:action => 'reviewed', :controller => 'orders', :id => uncommented_order.id), :method => 'post' do |f| %>
                      <%= hidden_field_tag :order_id, uncommented_order.id %>
                      <%= f.input :review %>
                      <%= f.input :rating %>
                      <%= f.button :submit, "Envoyer le commentaire",class: "btn btn-primary",id: "save-review#{uncommented_order.id}"%>
                    <% end %>
                  </div>

                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        <% end %>

        <h1>Les commentaires que vous avez laissé</h1>
        <% @commented_orders.each do |commented_order| %>
          <div>
            <%= render "comment", order: commented_order %>
            <%= commented_order.review %>
            <%= commented_order.rating  %>
          </div>
        <% end %>
      </div>
<!--       Contenu des livres préférés -->
      <div class="tab-content hidden" id="favorite_books">
        <h2>Mes livres préférés</h2>
        <% @loved_books.each do |loved_book| %>
          <%= loved_book.book.title %>
        <% end %>
      </div>
<!--       Contenu des bookmates -->
      <div class="tab-content hidden" id="bookmates">
        <h2>Mes bookmates</h2>
      </div>

<!--       Contenu des commandes -->
      <div class="tab-content hidden" id="orders">

        <h1>Mes commandes en cours</h1>
        <% @undelivered_orders.each do |undelivered_order| %>
          <div>
          <%= render "order", order: undelivered_order %>
          </div>
        <% end %>

        <h1>Mes commandes passées</h1>
        <% @delivered_orders.each do |delivered_order| %>
          <div>
          <%= render "order", order: delivered_order %>
          </div>
        <% end %>

      </div>
    </div>

<!-- Scripts pour l'animation des tabs -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<!-- <script src="javascripts/tabs.js" type="text/javascript"></script> -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" /> -->
