
  <!-- Cette row contient le Dashboard -->
    <!-- Cette colonne contient la barre latérale -->
    <div class="sidebar">
      <h3>MON COMPTE</h3>
      <div class="tabs">
        <a class="tab active" data-target="#orders">
          <h2>Mes commandes</h2>
        </a>
        <a class="tab" data-target="#bookmates">
          <h2>Mes bookmates</h2>
        </a>
        <a class="tab" data-target="#loved_books">
          <h2>Mes livres préférés</h2>
        </a>
        <a class="tab" data-target="#comments">
          <h2>Mes commentaires</h2>
        </a>
        <a class="tab" data-target="#profile">
          <h2>Mon profil</h2>
        </a>
      </div>
    </div>
    <!-- Cette colonne contient le contenu des tabs -->
    <div class = "col-xs-offset-2 col-xs-10">
    <!--       Contenu des commandes -->
          <div class="tab-content" id="orders">

            <h1>Mes commandes</h1>
            <% @paid_orders.each do |paid_order| %>
              <div>
              <%= render "order", order: paid_order %>
              </div>
            <% end %>

          </div>
<!--       Contenu du profil -->
      <div class="tab-content hidden" id="profile">
        <%= render "profile"%>

      </div>
<!--       Contenu des commentaires -->
      <div class="tab-content hidden" id="comments">
        <h1>Les commentaires à laisser</h1>
        <% @uncommented_orders.each do |uncommented_order| %>
          <div>
            <%= render "comment", order: uncommented_order %>
          </div>
          <h2><%= uncommented_order.bookmate.user.first_name  %></h2>

          <button type="button" id="btn-comment<%= uncommented_order.id %>" class="btn btn-primary" data-toggle="modal" data-target="#myModalUncommentedOrder<%= uncommented_order.id %>">
            Faire un commentaire
          </button>

          <!-- Modal -->
          <div class="modal fade" id="myModalUncommentedOrder<%= uncommented_order.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">

                  <div id="thank-review#{uncommented_order.id}">
                    <p>Vos commentaires ont bien été pris en compte</p>
                  </div>

                  <div id= "form-review#{uncommented_order.id}" >
                    <%= simple_form_for @order, :url => url_for(:action => 'reviewed', :controller => 'orders', :id => uncommented_order.id), :method => 'post' do |f| %>
                      <%= hidden_field_tag :order_id, uncommented_order.id %>
                      <%= f.input :review %>
                       <div class="rating">

                          <input type="radio" value="5" name="order[rating]" id="order_rating_5bis">
                          <label class="collection_radio_buttons" for="order_rating_5bis">5</label>

                          <input type="radio" value="4" name="order[rating]" id="order_rating_4bis">
                          <label class="collection_radio_buttons" for="order_rating_4bis">4</label>

                          <input type="radio" value="3" name="order[rating]" id="order_rating_3bis">
                          <label class="collection_radio_buttons" for="order_rating_3bis">3</label>

                          <input type="radio" value="2" name="order[rating]" id="order_rating_2bis">
                          <label class="collection_radio_buttons" for="order_rating_2bis">2</label>
                          <input type="radio" value="1" name="order[rating]" id="order_rating_1bis">
                          <label class="collection_radio_buttons" for="order_rating_1bis">1</label>

                        </div>

                      <div class="modal-footer">
                        <%= f.button :submit, "Envoyer le commentaire",class: "btn btn-primary",id: "save-review#{uncommented_order.id}"%>
                      </div>

                    <% end %>
                  </div>

                </div>
              </div>
            </div>
          </div>

        <% end %>

        <h1>Les commentaires que vous avez laissé</h1>
        <% @commented_orders.each do |commented_order| %>
          <div>
            <%= render "comment", order: commented_order %>
            <%= commented_order.review %>
            <%= commented_order.rating  %>
          </div>
        <% end %>
      </div>
<!--       Contenu des livres préférés -->
      <div class="tab-content hidden" id="loved_books">
        <h2>Mes livres préférés</h2>
        <% @loved_books.each do |loved_book| %>
          <%= loved_book.book.title %>
        <% end %>
      </div>
<!--       Contenu des bookmates -->
      <div class="tab-content hidden" id="bookmates">
        <%= render "bookmate"%>
      </div>


    </div>

