<div class="container">
  <% if @order.order_status == "pending" %>
    <h1 class="red">Votre panier</h1>
    <h2>Boutique de <%=@order.bookmate.user.first_name  %></h2>

    <% current_order.selling_books.each do |selling_book| %>
      <%= cl_image_tag selling_book.book.photo.path, :width=>200, :gravity=>"auto", :crop=>"fill"%>
    <% end %>

    <p>Type de livraison</p>
    <%= simple_form_for @order, :url => {:action => "update"} do |f| %>
      <%= f.error_notification %>
      <%= f.input :delivery_type, collection: @delivery_type_array%>
      <%#= f.input :order_status, as: :hidden, :input_html => { :value => "paid" } %>
      <%= f.button :submit, "Passer la commande" , class: "btn btn-primary" %>
    <% end %>
    <p>Total : <%= @total %>€</p>
  <% else %>
    <h1 class="red">Récapitulatif de votre commande</h1>
    <h2>Boutique de <%=@order.bookmate.user.first_name  %></h2>


    <% @order.selling_books.each do |selling_book| %>
      <%= cl_image_tag selling_book.book.photo.path, :width=>200, :gravity=>"auto", :crop=>"fill"%>
    <% end %>

    <p>Total : <%= @total %>€</p>
  <% end %>
</div>

