<div class="order-wrapper">
  <div class="order-container">
    <% if @order.order_status == "pending" %>
        <h1 class="red">Votre panier</h1>
        <div class="cart-container">
          <div class="row">
            <div class="col-xs-7">
              <h2>Boutique de <%=@order.bookmate.user.first_name  %></h2>

              <div class="books-container">
                <% current_order.selling_books.each do |selling_book| %>
                  <%= cl_image_tag selling_book.book.photo.path %>
                <% end %>
              </div>
            </div>
            <div class="col-xs-5">
              <div class="recap-container text-center">

                <%= simple_form_for @order, :url => {:action => "update"} do |f| %>
                  <%= f.error_notification %>
                  <%= f.input :delivery_type, collection: @delivery_type_array, label: "Mode de livraison" %>
                  <!-- , :label=>"Mode de livraison",  :as => :radio_buttons, :item_wrapper_class => 'inline' -->
                  <%#= f.input :order_status, as: :hidden, :input_html => { :value => "paid" } %>
                  <%= f.button :submit, "Passer la commande" , class: "btn btn-primary" %>
                <% end %>
                <div id ="total">
                  <span><p>Total : </p></span> <span><h2><%= @total %>€</h2></span>
                </div>
              </div>
              <% else %>
                <h1 class="red text-center">Récapitulatif de votre commande</h1>

                <div class="card-grey text-center">
                  <h2>Boutique de <%=@order.bookmate.user.first_name  %></h2>
                    <div class="books">
                      <% @order.selling_books.each do |selling_book| %>
                        <div class="book">
                          <%= cl_image_tag selling_book.book.photo.path %>
                        </div>
                      <% end %>
                    </div>
                    <span><h2>Total :</h2></span> <span><h2><%= @total %>€</h2></span>
                </div>

              <% end %>
              </div>
            </div>
      <div class="text-center">
        <%= link_to "Retour à la page du bookmate", bookmate_path(@bookmate) %>
      </div>
        </div>
      </div>
  </div>
</div>
