<div class="background-blue">
  <div class="container padded-top-lg">
    <div class="home-title text-center">
      <div class="home-title1">Trouvez votre prochain livre sans chercher</div>
      <div class="home-subtitle padded-bottom-lg">
        <div class="home-title2 text-left">
          Accédez à des bookstores fait par des personnes avec qui vous partagez les mêmes affinités
        </div>
        <div>
          <%= image_tag "shelf.png" %>
        </div>

      </div>

      <div class="container-searchform">
        <%= form_tag(search_path, method: 'get', id: 'searchform') do %>
          <%= text_field_tag :search, params[:search], placeholder: 'Type your favorite books!', class: "searchbar form-control", id: "searched_books" %>
          <div class="container-api-img">
          </div>
          <div id="search-results">
            <div class="title-search">
            </div>
            <div class="selected-book-cover">

              <%= hidden_field_tag "isbn[]", nil, id: "isbn_1" %>
              <%= hidden_field_tag "isbn[]", nil, id: "isbn_2" %>
              <%= hidden_field_tag "isbn[]", nil, id: "isbn_3" %>

              <%= hidden_field_tag :latitude %>
              <%= hidden_field_tag :longitude %>
              <div id="submit_button">
                <%= submit_tag 'Find bookmates!', class: "btn btn-primary btn-lg", id: "submitsearch", disabled: "disabled"%>
              </div>
        <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      window.onload = function geoFindMe() {
      var output = document.getElementById("out");

      if (!navigator.geolocation){
        console.log("Geolocation is not supported by your browser");
        return;
      }

      function success(position) {
        var latitude  = position.coords.latitude;
        var longitude = position.coords.longitude;
        $("#latitude").val(latitude);
        $("#longitude").val(longitude);
          if ( !$('#latitude') != null && !$('#longitude') != null) {
            $("#submitsearch").removeAttr("disabled");
          };
        console.log('Latitude is ' + latitude + '° Longitude is ' + longitude + '°');
      }

      function error() {
        console.log("Unable to retrieve your location");
      }

      console.log("Locating…");

      navigator.geolocation.getCurrentPosition(success, error);
    }

<script>

      $('#searched_books').on('keyup', function(event) {
        if(this.value.length < 4) return;
          console.log($('#searched_books').val());
          $.ajax({
            type: "GET",
            url: "https://www.googleapis.com/books/v1/volumes?q="+($('#searched_books').val())+"&printType=books&key=<%= ENV['GOOGLE_API_BROWSER_KEY'] %>",
            success: function(data) {
              $(".container-api-img").html('<div id="results"></div>');
              data.items.forEach(function(item) {
                var book_title = item.volumeInfo.title;
                var book_author = item.volumeInfo.authors;
                var book_image = item.volumeInfo.imageLinks.thumbnail;
                var book_isbn = item.volumeInfo.industryIdentifiers[0].identifier;
                $("#results").append("<a href='#' class='api-img-link'><img src='"+book_image+"' class='api-img' data-isbn='"+book_isbn+"' data-title='"+book_title+"' data-author='"+book_author+"'/></a>");
              });
            },
            error: function(jqXHR) {
              console.error(jqXHR.responseText);
            }
          });
      });
      var selected_books = 0
      $('.container-api-img').on("click", '.api-img-link', function() {
        $(".title-search").html("<h2>Vous avez sélectionné: </h2>");
        $("#search-results").css("background-color", "white");
        if(selected_books < 3) {
          $(".selected-book-cover").css("background-color", "white");
          $(".selected-book-cover").prepend(this);
          selected_books ++;
        };
      var isbn_1 = ($(".selected-book-cover a:nth-child(1) img").data("isbn"));
      console.log(isbn_1);
      var isbn_2 = ($(".selected-book-cover a:nth-child(2) img").data("isbn"));
      console.log(isbn_2);
      var isbn_3 = ($(".selected-book-cover a:nth-child(3) img").data("isbn"));
      console.log(isbn_3);
      });
    });
  <% end %>
<% end %>

