<div class="background-blue">
  <div class="container padded-top-lg">
    <div class="home-title text-center">
      <div class="home-title1">Trouvez votre prochain livre sans chercher</div>
      <div class="home-subtitle padded-bottom-lg">
        <div class="home-title2 text-left">
          Accédez à des bookstores fait par des personnes avec qui vous partagez les mêmes affinités
        </div>
        <div>
          <%= image_tag "shelf.png" %>
        </div>

      </div>

      <div class="container-searchform">
      <%= render 'search_form' %>
        <div><%= image_tag "button-plus.png", class: "btn-plus" %></div>
      </div>
      <div id="content"></div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      window.onload = function geoFindMe() {
      var output = document.getElementById("out");

      if (!navigator.geolocation){
        console.log("Geolocation is not supported by your browser");
        return;
      }

      function success(position) {
        var latitude  = position.coords.latitude;
        var longitude = position.coords.longitude;
        $("#latitude").val(latitude);
        $("#longitude").val(longitude);
          if ( !$('#latitude') != null && !$('#longitude') != null) {
            $("#submitsearch").removeAttr("disabled");
          };
        console.log('Latitude is ' + latitude + '° Longitude is ' + longitude + '°');
      }

      function error() {
        console.log("Unable to retrieve your location");
      }

      console.log("Locating…");

      navigator.geolocation.getCurrentPosition(success, error);
    }
<script>

      $('#searched_books').on('keyup', function(event) {
        if(this.value.length < 4) return;
          console.log($('#searched_books').val());
          $.ajax({
            type: "GET",
            url: "https://www.googleapis.com/books/v1/volumes?q=intitle:"+($('#searched_books').val())+"&key=<%= ENV['GOOGLE_API_BROWSER_KEY'] %>",
            success: function(data) {
              $("#content").html('<table id="results"></table>');
              data.items.forEach(function(item) {
                console.log(item.volumeInfo.authors[0])
                var book = item;
                $('#results').append(book);
              });
            },
            error: function(jqXHR) {
              console.error(jqXHR.responseText);
            }
          });
      });
    });
  <% end %>
<% end %>
