<div class="background-blue">
  <div class="container padded-top-lg">
    <div class="home-title text-center">
      <div class="home-title1">Trouvez votre prochain livre sans chercher</div>
      <div class="home-subtitle padded-bottom-lg">
        <div class="home-title2 text-left">
          Accédez à des bookstores fait par des personnes avec qui vous partagez les mêmes affinités
        </div>
        <div>
          <%= image_tag "shelf.png" %>
        </div>

      </div>

      <div class="container-searchform">
      <%= render 'search_form' %>
        <div><%= image_tag "button-plus.png", class: "btn-plus" %></div>
      </div>
      <div class="container-api-img">
      </div>
      <div class="selected-book-cover">
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      window.onload = function geoFindMe() {
      var output = document.getElementById("out");

      if (!navigator.geolocation){
        console.log("Geolocation is not supported by your browser");
        return;
      }

      function success(position) {
        var latitude  = position.coords.latitude;
        var longitude = position.coords.longitude;
        $("#latitude").val(latitude);
        $("#longitude").val(longitude);
          if ( !$('#latitude') != null && !$('#longitude') != null) {
            $("#submitsearch").removeAttr("disabled");
          };
        console.log('Latitude is ' + latitude + '° Longitude is ' + longitude + '°');
      }

      function error() {
        console.log("Unable to retrieve your location");
      }

      console.log("Locating…");

      navigator.geolocation.getCurrentPosition(success, error);
    }
<!-- <script> -->

      $('#searched_books').on('keyup', function(event) {
        if(this.value.length < 4) return;
          console.log($('#searched_books').val());
          $.ajax({
            type: "GET",
            url: "https://www.googleapis.com/books/v1/volumes?q="+($('#searched_books').val())+"&key=<%= ENV['GOOGLE_API_BROWSER_KEY'] %>",
            success: function(data) {
              $(".container-api-img").html('<div id="results"></div>');
              data.items.forEach(function(item) {
                var book_title = item.volumeInfo.title;
                var book_author = item.volumeInfo.authors;
                var book_image = item.volumeInfo.imageLinks.thumbnail;
                var book_isbn = item.volumeInfo.XXXXXXX;
                console.log(book_image)
                <!-- $('#results').append(book_author); -->
                $("#results").append("<a href='#' class='api-img-link'><img src='"+book_image+"' class='api-img' data-isbn='"+book_isbn+"'/></a>");
              });
            },
            error: function(jqXHR) {
              console.error(jqXHR.responseText);
            }
          });
      });
      $('.container-api-img').on("click", '.api-img-link', function() {
        alert('clickable image');
        console.log('hello');

      });
    });
  <% end %>
<% end %>
