<% content_for :meta_title, "BookShare - #{@selling_book.book.title}" %>
<% content_for :meta_description, @selling_book.book.author %>
<%# content_for :meta_description, cloudinary_url(@selling_book.book.photo.path) %>

<div class="book-header">
  <div class ="container">
    <div class="row">
      <div class="book-header-container">
      <!-- En-tête avec photo titre auteur bookmate et commentaire -->
        <div class="book-header-image">
          <%= cl_image_tag @selling_book.book.photo.path, :width=>150, :gravity=>"auto", :crop=>"fill"%>
        </div>
        <div class="book-header-details">
          <div class="book-header-description">
            <h1 style = "padding-bottom: 10px"><%= @selling_book.book.title %> - <%= @selling_book.book.author %></h1>
            <hr>
            <%= cl_image_tag @selling_book.bookmate_book_category.bookmate.user.photo.path, class:"bookmate-avatar" %>
            <h2>Le commentaire de <%= @selling_book.bookmate_book_category.bookmate.user.first_name %></h2>
            <p><%= @selling_book.personalized_comment%></p>
          </div>
          <div class="book-header-actions">
            <h2>Etat : <%= @selling_book.condition%></h2>
            <h2><%= @selling_book.price%> €</h2>

            <!-- A faire -->
            <% if current_order.selling_books.include? @selling_book %>
              <h2 class="order-date">Le livre a bien été ajouté</h2>
            <% else %>
              <div id="btn-ajouter">
                <%= simple_form_for @order do |f| %>
                  <%= hidden_field_tag :selling_book_id, @selling_book.id %>
                  <%= f.submit "Ajouter à mon panier", class: "btn-bookshare-red" %>
                <% end %>
              </div>
            <% end %>
            <div id="phrase-done">
              <h2 class="green">Ajouté au panier <i class="fa fa-check green"></i></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="book-body">
  <div class="container">
    <div class="book-body-wrapper">
      <div class="row">
        <!-- <div class="col-xs-2"> -->

          <!-- <div class="book-body-column"> -->
            <!-- <h2>Vos bookmates ont aimé</h2> -->
            <!-- <p>Photos des bookmates</p> -->
          <!-- </div> -->
       <!--  </div> -->
        <div class="book-body-container">
          <div class="col-xs-12">
            <div class="row">
              <div class="book-body-column">
                <h2>Les autres livres de la catégorie</h2>
                  <div class="books">
                    <% @books_category.each do |selling_book| %>
                      <% next if selling_book == @selling_book %>
                        <%= link_to bookmate_selling_book_path(@bookmate, selling_book) do %>
                          <div class="book">
                            <%= cl_image_tag selling_book.book.photo.path %>
                          </div>
                      <% end %>
                    <% end %>
                  </div>
                <%= link_to "Retour à la page du bookmate", bookmate_path(@bookmate) %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="book-body-column">
              <h2>Résumé du livre</h2>
              <p id="book_summary"></p>
            </div>
          </div>
          <div class="row">
            <div class="book-body-column">
              <h2>Biographie de l'auteur</h2>
              <p id="author_bio"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {


      $(function(){
        $("#phrase-done").hide();

        $("#btn-ajouter").submit(function(e){
          $("#btn-ajouter").hide();
          $("#phrase-done").add();
        });
      });


<!-- <script> -->
      var isbn = <%= @isbn %>;
      console.log(isbn);
      $.ajax({
        type: "GET",
        url: "https://www.googleapis.com/books/v1/volumes?q=+isbn="+isbn+"&printType=books&key=<%= ENV['GOOGLE_API_BROWSER_KEY'] %>",
        success: function(data) {
            var datum = data.items[0];
            console.log(datum);
            var summary_from_api = datum.volumeInfo.description;
            $("#book_summary").html(summary_from_api);
            var author_from_api = datum.volumeInfo.authors;
            console.log(author_from_api);
            $.ajax({
              type: "GET",
              url: "https://fr.wikipedia.org/w/api.php?action=query&format=json&prop=extracts&titles="+author_from_api+"&exintro=1&origin=*",
              success: function(data) {
                var wiki_extract = data.query.pages;
                var author_bio_wiki = (wiki_extract[Object.keys(wiki_extract)[0]].extract);
                console.log(author_bio_wiki);
                $("#author_bio").html(author_bio_wiki);
              },
              error: function(jqXHR) {
                console.error(jqXHR.responseText);
              }
            });
        },
        error: function(jqXHR) {
          console.error(jqXHR.responseText);
        }
      });
    });
  <% end %>
<% end %>
