<p>hello</p>
Le commentaire de <%= @selling_book.bookmate.user.first_name %>
<%= @selling_book.book.title %>
<%= @selling_book.personalized_comment%>
<%= @selling_book.price%>
<%= @selling_book.sold%>

 <%= #simple_form_for [@bookmate, @selling_book] do |f| %>
  <%= #f.submit "Ajouter à mon panier", class: "btn btn-primary" %>
<% #end %>
