 <div class = "text-title">
<% if @users.length == 0 %>
  <div class="container">
    <div class="span">
      <p>No bookmates near <%= @address %>....</p>
      <p>Search again! </p>
      <div class="span-form">
        <%= render '/pages/search_form' %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
  <p>Bookmates near <b><%= @address %></b></p>
  <% @users.each do |user|%>
    <%= user.first_name %>
    <%= user.address %>
  <% end %>
</div>
  <div class="col-xs-4" id="map-column">
      <div id="map"></div>
    </div>
  </div>

  <%= content_for(:after_js) do %>
    <script>
      $(document).ready(function () {
        var handler = Gmaps.build ('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(3);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
        }
      });
    });
    </script>
  <% end %>
<% end %>
