
<div class="sidebar" id="side-bar">
  <div class="text-center bookmate-avatar">
    <%= cl_image_tag @bookmate.user.photo.path, alt: "profile picture", class: "avatar avatar-medium border-white text-center" %>
  </div>
  <h3>GENRES FAVORIS</h3>
  <!-- nav nav-list required by bootstrap to automatiquely active tab on scrolling -->
  <ul class="nav nav-list bookmate-tabs" role="tablist" >
    <% @bookmate.bookmate_book_categories.each do |bookmate_book_category| %>
    <!-- data-attr-scroll & class scrollto for scroll on click -->
      <li class ="bookmate-tab-link">
        <a href = "#category_<%= bookmate_book_category.id %>" class="scroll">
          <%= bookmate_book_category.name %>
        </a>
      </li>
    <% end %>
  </div>
  </ul>
</div>
  <!-- data-spy="scroll" required by bootstrap to automatiquely active tab on scrolling -->
  <div class = "col-xs-offset-2 col-xs-10" id="card-column-bookmate" data-spy="scroll" data-target="#side-bar">
  <div class="">
    <div class = "tab-content">
      <div class="inline-block">
        <h1><span class="red">A propos de <%= @bookmate.user.first_name %></span>

          <% if current_user.loved_bookstores.where(bookmate: @bookmate).exists? %>
            <%= link_to bookmate_loved_bookstore_path(@bookmate), method: :delete, class: "blue"  do %>
              <i class="fa fa-heart" ></i>
            <% end %>
          <% else %>
            <%= link_to bookmate_loved_bookstore_path(@bookmate), method: :post, class: "blue" do %>
              <i class="fa fa-heart-o" ></i>
            <% end %>
          <% end %>
        </h1>
      </div>

      <h2>Ses goûts littéraires :  </h2>
      <p><%= @bookmate.description %></p>

      <div class="book-categories">
      <% @bookmate.bookmate_book_categories.each do |bookmate_book_category| %>
        <div id ="category_<%= bookmate_book_category.id %>">
            <h2 class="red"><%= bookmate_book_category.name %></h2>
            <div class="bookmate-books">
              <div class="books">
                <% bookmate_book_category.selling_books.each do |selling_book| %>
                <div class="book">
                  <% if selling_book.sold %>
                    <p>Vendu à mettre en bannière sur la card</p>
                  <% end %>
                    <%= link_to bookmate_selling_book_path(@bookmate, selling_book) do %>
                       <%= cl_image_tag selling_book.book.photo.path %>
                    <% end %>
                </div>
              <% end %>
              </div>
            </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>



<% content_for :after_js do %>
  <%= javascript_tag do %>
    $(document).ready(function() {

      $(function(){

        $(".follow_option").on("click", function(e){
          <!-- // Change active tab -->
          $(".fa-bookmark-o").hide();
          $(".fa-bookmark").show();
        });
      });

    });
  <% end %>
<% end %>

