

  <div class="col-xs-2 " >
    <div class="side-bar side-bar-padding-top">
      <div class="text-center">
        <%= cl_image_tag @bookmate.user.photo.path, alt: "profile picture", class: "avatar avatar-medium border-white text-center" %>
      </div>
      <div class="padded-left">
        <h3>GENRES FAVORIS</h3>
        <% @bookmate.bookmate_book_categories.each do |bookmate_book_category| %>
          <h2>
            <a href="#category_<%= bookmate_book_category.id %>", class="dark-grey">
              <%= bookmate_book_category.name %>
            </a>
          </h2>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-10" id="text-column">
    <h1 class="red">
      A propos de <%= @bookmate.user.first_name %>
    </h1>

    <% if current_user.loved_bookstores.where(bookmate: @bookmate).exists? %>
      <%= link_to bookmate_loved_bookstore_path(@bookmate), method: :delete, class: "blue"  do %>
      <i class="fa fa-bookmark" aria-hidden="true"></i>
      <% end %>
    <% else %>
      <%= link_to bookmate_loved_bookstore_path(@bookmate), method: :post, class: "blue" do %>
      <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      <% end %>
    <% end %>

    <h2>Ses goûts littéraires :  </h2>
    <p><%= @bookmate.description %></p>
    <h2> <%= pluralize @count, "mode" %> de livraison : </h2>
    <% if @bookmate.deliver_by_hand == true %>
      <p>Livraison en main popre</p>
    <% end %>
    <% if @bookmate.home_delivery == true %>
      <p>Livraison à domicile</p>
    <% end %>
<!--     <h2>Son top 3 ?</h2>
    <h2>Sa note ?</h2> -->

    <div class="book-categories">
    <% @bookmate.bookmate_book_categories.each do |bookmate_book_category| %>
      <section id ="category_<%= bookmate_book_category.id %>">
        <div class="book-category">
          <h2 class="red"><%= bookmate_book_category.name %></h2>
          <div class="card-grey-bookmate-page">
            <div class="books">
              <% bookmate_book_category.selling_books.each do |selling_book| %>
              <div class="book">
                <% if selling_book.sold %>
                  <p>Vendu à mettre en bannière sur la card</p>
                <% end %>
                  <%= link_to bookmate_selling_book_path(@bookmate, selling_book) do %>
                     <%= cl_image_tag selling_book.book.photo.path %>
                  <% end %>
              </div>
            <% end %>
            </div>
          </div>
      </section>
    <% end %>
        </div>
    </div>
  </div>


<% content_for :after_js do %>
  <%= javascript_tag do %>
    $(document).ready(function() {

      $(function(){

        $(".follow_option").on("click", function(e){
          <!-- // Change active tab -->
          $(".fa-bookmark-o").hide();
          $(".fa-bookmark").show();
        });
      });

    });
  <% end %>
<% end %>
